<section class="details animated fadeIn">
  <div class="container">
    <div class="pure-g">
      <div class="pure-u-1">
        <article>
          <h2 class="page-title">Details</h2>
          <p>
            We are getting married on May 14, 2015 on the island of Maui, Hawaii!
          </p>
          <h3>Itinerary</h3>
          <p>
            Coming soon! 
          </p>
          <h3>Wedding</h3>
          <p>
            The wedding ceremony will take place at <a href="https://www.google.com/maps/place/BIG+BEACH/@20.6318974,-156.4469516,1179m/data=!3m1!1e3!4m5!1m2!2m1!1smakena+beach!3m1!1s0x0:0xb868eb4fda0bde7a" target="_blank">Makena Beach State Park (Big Beach)</a>.
          </p>
          <h3>Reception</h3>
          <p>
            A reception will follow at <a href="https://www.google.com/maps/place/5+Palms+Restaurant/@20.7990745,-156.5657015,12z/data=!4m5!1m2!2m1!1s5palms+restaurant!3m1!1s0x0:0x130123568e23ee65">5 Palms Restaurant</a> in Kihei.
          </p>
          <h3>Flights</h3>
          <p>
            We will be arriving in Maui on May 11, 2015.  We plan to fly Hawaiian Airlines to Honolulu and take a short connecting flight to Maui.  Allegiant Airlines also offers good rates from Las Vegas to Honolulu.  Visit <a href="//skyscanner.com" target="_blank">Skyscanner.com</a> to find the best rates.
          </p>
          <p>
            <a class="pure-button pure-button-secondary" href="//skyscanner.com" target="_blank">Book Flight</a>
          </p>
          <h3>Accomodations</h3>
          <p>
            The wedding and reception are taking place in <strong>South Maui</strong>.  There are a number of resorts and rentals in this area within minutes of both events.  <a href="http://www.airbnb.com/" target="_blank">Airbnb</a> offers good deals for groups of all sizes.<!-- We will be staying at <a href="http://www.makenaresortmaui.com/default-en.html" target="_blank">Makena Beach &amp; Golf Resort</a>. -->
          </p>
          <p>
            <a class="pure-button pure-button-secondary" href="http://www.hotels.com/" target="_blank">Book Hotel</a>&nbsp;&nbsp;<a class="pure-button pure-button-secondary" href="http://www.airbnb.com/" target="_blank">Book a Rental on Aibnb</a>
          </p>
          <h3>Rental Car</h3>
          <p>
            We recommend getting a rental car to explore the island.  Public transporation is generally unreliable in Hawaii.  We have looked at dozens of sites and <a href="http://www.lastminutetravel.com/info/Carsearch.aspx" target="_blank">Last Minute Travel</a> always seems to have the best rates.
          </p>
          <p>
            <a class="pure-button pure-button-secondary" href="http://www.lastminutetravel.com/info/Carsearch.aspx" target="_blank">Book Rental Car</a>
          </p>
          <h3>Get In Touch</h3>
          <p>
            We know a trip like this takes a lot of planning, so don't hestitate to get in touch!  We are happy to help.
          </p>
          <p>
            <a class="pure-button pure-button-secondary" href="mailto: dearjohnm@gmail.com" target="_blank">Email Us!</a>
          </p>
        </article>
      </div>
    </div>
  </div>
</section>